* {
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h1, h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
h1 {
    font-size: 25px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.vue-add-worker {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 550px;
    margin: 0 auto;
}
.vue-input-wr-label {
    margin: 15px 0 0 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 5px;
    color: white;
    font-weight: 600;
    align-items: center;
}
.vue-input-wr-label:nth-child(odd) {
    background: #324960;
}
.vue-input-wr-label:nth-child(3) {
    background: #4FC3A1;
}
.vue-input {
    width: 550px;
    height: 35px;
    padding: 0px 5px;
}
.vue-textarea {
    width: 550px;
    height: 100px;
    padding: 10px 5px;
    resize: none;
}
.vue-input:focus, .vue-textarea:focus {
    outline: none;
}

.vue-input {
    width: 550px;
    height: 35px;
    padding: 0px 5px;
}
.vue-textarea {
    width: 550px;
    height: 100px;
    padding: 10px 5px;
    resize: none;
}
.vue-input:focus, .vue-textarea:focus {
    outline: none;
}
/*.vueTable {*/
/*    margin-top: 60px;*/
/*}*/
/*.vueTable-header {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
/*.vueTable-header span{*/
/*    flex-basis: 16.6%;*/
/*    padding: 10px 0;*/
/*}*/
.vueTable-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
}
.page {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #f8f8f8;
    font-weight: 600;
    background: #3a526b;
    color: white;
}
.page:hover {
    background: #256351;
    cursor: pointer;
}
.page-active {
    background: #337d68;
}

/*.vue-table-row {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    text-align: center;*/
/*    !*align-items: center;*!*/
/*    border-top: 2px solid #bdbdbd;*/
/*    border-left: 2px solid #bdbdbd;*/
/*    border-right: 1px solid #bdbdbd;*/
/*}*/
/*.vue-table-row:last-child {*/
/*    border-bottom: 1px solid #bdbdbd;*/
/*}*/
/*.vue-table-row .vtr-row {*/
/*    flex-basis: 16.6%;*/
/*    padding: 10px 5px;*/
/*    border-right: 1px solid #bdbdbd;*/
/*    text-align: center;*/
/*}*/
/*.vue-table-row:nth-child(odd) {*/
/*    background: #fbfbfb;*/
/*}*/
/*.vue-table-row:nth-child(even) {*/
/*    background: #eaeaea;*/
/*}*/
.vtr-row.row-actions {
    display: flex;
    justify-content: space-evenly;
}

/* Table Styles */

.table-wrapper{
    /*margin: 10px 70px 70px;*/
    margin: 60px 0px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    /*white-space: nowrap;*/
    white-space: pre-wrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
    width: 200px;
    word-break: break-word;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.btn {
    font: 600 15px 'Helvetica';
    width: 200px;
    height: 30px;
    background: #324960;
    border: none;
    color: white;
}
.btn.btn-add-worker {
    position: absolute;
    top: -40px;
    display: block;
}
.btn-edit, .btn-del {
    width: 33px;
    height: 33px;
    border: none;
}
.btn-edit {
    background: #4fc3a1;
}
.btn-edit:hover, .btn-del:hover {
    cursor: pointer;
}
.btn-edit:focus {
    outline: none;
    background: #409e83;
}
.btn-del {
    outline: none;
    background: #324960
}
.btn-del:focus {
    outline: none;
    background: #496a8c
}
.btn-edit svg, .btn-del svg {
    width: 18px;
    height: 18px;
    fill: white;
}
.vueTable-pagination a svg{
    width: 18px;
    height: 18px;
    stroke: #cecdcd;
    stroke-width: 1px;
}
.prev-page {
    margin-right: 5px;
}
/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}